.main {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
}

.main img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; 
}

.centered-text p,
.centered-text h1,
.centered-text h4 {
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

.centered-text h4 a{
    color: #71d0ca;
}
