body{
  font-style: "Work Sans";
}

#showresults{
  align-items: center;
  display: flex;
}

label{
  display: block;
  transition-delay: 0.8s;
}

.wrapper .range-input,
.wrapper .slider {
  position: relative;
}

.button-style,
.login-register a{
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#showresults {
  justify-content: center;
}

#showresults button,
.show-results button {
  transition: background-color 0.3s;
  cursor: pointer;
}

.vehicleSearch {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.search-container {
  display: flex;
}

.search-container .searchForm {
  flex: 1;
}

.search-container .results {
  flex: 1;
}

.searchForm {
  width: 45%;
  max-width: 500px;
  height: 100%;
  max-height: 1400px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #787878;
  padding-top: 50px;
}

.check input[type=radio],
.show-search-form {
  display: none;
}

.vehicleSearch .searchForm h2 {
  font-size: 2.5vw;
  font-weight: 700;
  letter-spacing: 0.060em;
  line-height: 1.5px;
  text-align: center;
  margin-bottom: 50px;
}

.vehicleSearch .searchForm .vehicleFormSearch {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.vehicleSearch .searchForm .vehicleFormSearch .form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.fieldset_fieldset1 {
  display: flex;
  justify-content: center;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}

.vehichleSection {
  display: flex;
  flex-direction: row;
}

.vehicleSearch .searchForm .vehicleFormSearch .form .fieldset_fieldset1 .check {
  display: flex;
  align-items: center;
  margin-right: 2%;
  cursor: pointer;
  font-size: 23px;
  margin-right: 12px;
  margin-left: 12px;
}

.fieldset_fieldset1 .check:hover {
  background-color: #f0f0f0;
}

.vehicleSearch .checkBoxTag {
  padding: 1em;
  color: #282828;
  border: 2px solid #fff;
  border-radius: 8px;
  cursor: pointer;
}

.brand-fieldset,
.model-fieldset {
  border: none;
  padding: 10px;
}

.brand-fieldset label,
.model-fieldset label{
  font-size: 1.3vw;
}

.check.selected {
    border: 2px solid #333;
    border-radius: 8px;
    font-size: 20px;
  }

  .brand-fieldset {
    margin-bottom: 2%;
  }
  
  label {
    margin-bottom: 0.5em;
  }
  
  select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 20px;
  }
  
  h3 {
    font-size: 1.4vw;
    margin-bottom: 1em;
    text-align: left;
    font-weight: bold;

  }
  
  .wrapper {
    width: 400px;
    padding: 2% 2.5% 4%;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .wrapper p {
    font-size: 1.3vw ;
    margin-top: 2em;
    margin-bottom: 10%;
  }

  .wrapper h2{
    font-size: 11px;
    text-align: center;
  }
  
  .wrapper .price-input {
    display: flex;
    width: 100%;
    margin: 3% 0 3.5%;
  }
  
  .wrapper .price-input .field {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
  }

  .field span{
    font-size: 25px;
    margin-right: 3px;
  }
  
  .price-input input {
    width: 70%;
    height: 100%;
    outline: 0;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5vw;
    margin-left: 2%;
  }
  
  .price-input input::-webkit-inner-spin-button,
  .price-input input::-webkit-outer-spin-button {
    display: none;
  }
  
  .wrapper .separator {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  
  .wrapper .slider {
    height: 0.4vw;
    background-color: #ddd;
    border-radius: 5px;
  }
  
  .wrapper .progress {
    position: absolute;
    height: 100%;
    left: 1%;
    right: 2%;
    background-color: #0074cc;
    border-radius: 5px;
  }
  
  .wrapper .range-input input {
    position: absolute;
    width: 100%;
    height: 0.3vw;
    top: -0.4vw;
    pointer-events: none;
    background: 0 0;
    appearance: none;
  }
  
  .wrapper .range-input input::-webkit-slider-thumb {
    height: 1.2vw;
    width: 0.1vw;
    background-color: #0074cc;
    border-radius: 50%;
    pointer-events: auto;
    box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.05);
  }
  
  .comfort-fieldset {
    border: none;
    padding: 10px;
    height: auto;
    max-width: 95%;
  }
  
  .comfort-fieldset::after,
  .comfort-fieldset::before {
    content: "";
    display: block;
    border-top: 1px solid #787878;
    width: 100%;
    margin: 0 auto;
  }
  
  .comfort-toggle button {
    border: none;
    background: 0 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 0;
    font-size: 1.3vw;
    margin-top: 15px;
    margin-bottom: 20px;
    color: black;
  }
  
  .comfort-toggle .arrow {
    margin-left: 280px;
  }

  .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    vertical-align: middle;
    content: "";
  }
  
  .arrow-up {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #000 transparent;
  }
  
  .arrow-down {
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
  }

  .visible {
    display: block !important;
  }
  
  .hidden {
    display: none !important;
  }
  
  .comfort-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .comfort-list label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    font-size: 18px;
  }
  
  .comfort-list input[type=checkbox] {
    margin-right: 5px;
  }
  
  .show-results button {
    background-color: #088178;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 25px;
    margin-left: 105px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .show-results button:hover {
    background-color: #055b4f;
  }
  
  .results {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
    background: #f7f7f7;
  }
  
  .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2e2e2;
    margin-bottom: 10px;
  }
  
  .categoryName {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
  }
  
  .categoryName label {
    margin: 0;
    font-size: 20px;
    font-style: italic;
  }
  
  .sortFieldset {
    display: flex;
    align-items: center;
    border: none;
    padding: 0.75rem;
  }
  
  .sortFieldset .sortLabel {
    margin-bottom: 0;
    font-size: 20px;
  }
  
  .sortLabel {
    margin-right: 10px;
  }
  
  .results .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 0.75rem;
  }
  
  .results .additional-results {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 0.75rem;
    display: none;
  }
  
  .results .additional-results .product,
  .results .products-container .product {
    width: calc(30% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 500px;
    margin-bottom: 30px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .results .product:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.results .product img {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 190px;
  margin-bottom: 10px;
  border-radius: 5%;
}

.results .product .des {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results .product span {
  font-weight: 700;
  font-size: 22px;
  padding-top: 20px;
}

.results .product h4,
.results .product h5 {
  font-weight: 500;
  font-size: 20px;
  margin: 10px 0;
}

.results .product .star {
  color: gold;
}

.results .show-less .product {
  max-height: none;
}

.button-style {
  background-color: #0074cc;
  font-size: 20px;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
}

.button-style:hover {
  background-color: #0055a9;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

#showresults button {
  background-color: none;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
}

#showresults button .arrow2 {
  margin-left: 5px;
  font-size: 14px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #e2e2e2;
}


