
#contact-details .map iframe {
    height: 100%;
    width: 100%
}

 a {
    display: block
}

 a,
 h4 {
    margin-bottom: 10px
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif
}

 .follow i:hover,
 a:hover{
    color: #088178
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px
}

#contact-details .details {
    width: 40%;
    margin-left: 20px
}

#contact-details .details span,
#form-details form span {
    font-size: 16px
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px
}

#contact-details .map {
    width: 55%;
    height: 400px
}

#form-details {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    border: 1px solid #e2e2e2;
    background-color: #fffbfb
}

#form-details form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: 0;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1
}

#form-details form button {
    background-color: #088178;
    font-size: 22px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    border-radius: 25px;
    color: #fff;
    cursor: pointer
}

#form-details form button:hover {
    background-color: #055b4f
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start
}

#form-details .people h1 {
    text-align: center;
    margin-bottom: 40px
}

#form-details .people div img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000
}

 .col {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: top;
    text-align: center;
    width: calc(25% - 50px);
    margin-bottom: 20px
}

 .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px
}

 h4 {
    font-size: 16px
}

 p {
    font-size: 14px;
    margin: 0
}

 a {
    color: #222
}

 .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer
}

 .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
    margin: 10px 0
}

 .copyright {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #333
}
