body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif
}

.background-image3 {
    background: url('../images/13.png') center center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

.login-container {
    width: 100%;
    max-height: 550px;
    max-width: 800px;
    background-color: #333;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 40px auto
}

.login-container .left-column {
    margin-bottom: 50px;
    width: 60%;
    display: inline-block;
    box-sizing: border-box
}

.login-container .left-column .title-container {
    text-align: center;
    margin-bottom: 25px
}

.login-container .left-column .title-container h1 {
    font-size: 24px;
    color: #f2f3f5;
    font-weight: 700;
    margin-bottom: 15px
}

.login-container .left-column form :nth-child(4) {
    margin-bottom: 10px
}

.login-container .left-column .title-container p {
    color: #b5bac1;
    font-size: 16px;
    line-height: 20px
}

.login-container .left-column form label {
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    color: #b5bac1;
    font-weight: 700
}

.login-container .left-column form label span {
    color: red
}

.login-container .left-column form input {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #1e1f22;
    color: #fff;
    border: none;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 5px
}

.login-container .left-column form :last-child {
    margin-top: 25px
}

.login-container .left-column form input[type=submit] {
    background: #088178;
    text-transform: capitalize;
    padding: 10px;
    height: unset;
    cursor: pointer;
    transition: .3s
}

.login-container .left-column form input[type=submit]:hover {
    background-color: #055b4f
}

.login-container .left-column a {
    text-decoration: none;
    color: #00a8fc;
    font-size: 14px
}

.login-container .left-column a:hover {
    text-decoration: underline
}

.login-container .left-column p {
    color: #b5bac1;
    font-size: 14px;
    line-height: 20px
}

.login-container .vertical-separator {
    margin: 0 32px;
    display: inline-block
}

.login-container .right-column {
    width: 30%;
    display: inline-block;
    padding: 7% 10px 10px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center
}

.login-container .right-column img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    height: 100%
}

.login-container .right-column h2 {
    font-size: 18px;
    line-height: 30px;
    color: #f2f3f5;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700
}

.login-container .right-column p {
    font-size: 16px;
    color: #f2f3f5
}

