.headerb {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .6);
    position: sticky;
    top: 0;
    max-height: 50px
}

#hero,
.headerb nav a{
    position: relative
}

#hero h2,
#hero h4,
#hero p {
    color: #fff
}

.container,
.info {
    box-sizing: border-box
}

.headerb,
.someInfo img{
    max-height: 50px
}

#banner3,
#hero {
    padding: 0 80px
}

#banner3 .banner-box,
#hero,
#sm-banner .banner-box {
    background-size: cover;
    background-position: center
}

.headerb nav a,
.login-register a,
.someInfo a {
    text-decoration: none
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif
}

.headerb nav ul{
    align-items: center;
    display: flex
}

.headerb nav ul {
    list-style: none;
    padding: 0;
    margin-left: 40px;
    gap: 25px;
    justify-content: center
}

.headerb {
    background: #b6a9a9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%
}

.headerb nav {
    flex: 1
}

.headerb nav li {
    padding: 18px
}

.headerb nav a {
    font-size: 24px;
    color: #1a1a1a
}

#hero {
    background-image: url("../images/maint2.jpeg");
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.hero-background  {
    border: 1px solid grey;
    border-radius: 40px;
    background-color: rgba(245, 245, 245, 0.65);
    padding: 10px 20px;
    width: 50%;
    z-index: 2;
}

#hero h4 {
    margin-top: 10px;
    width: 100%;
    font-size: 80px;
    color: #000000;
    font-weight: 800;
    font-family: "Open Sans";
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.22));
}

#hero h2 {
    width: 100%;
    font-size: 22px;
    letter-spacing: 5px;
    color: #003300;
    font-weight: 700;
    font-style: italic;
    font-family: "Open Sans";
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: left;
    text-transform: uppercase;
}

#hero button {
    opacity: 0.902;
    margin-top: 25px;
    width: 40%;
    height: 20%;
    border-radius: 21px;
    background-color: #ffffff;
    font-size: 25px;
    color: #776c64;
    font-weight: 800;
    font-family: "Open Sans";
    text-align: center;
    margin-bottom: 12px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

#hero button:hover{
    background-color:aliceblue;
    transition: 0.4s ease-in-out;
}

.someInfo a button,
button#go {
    padding: 10px 20px;
    background-color: #088178;
    color: #fff;
    cursor: pointer
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.container h1 {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 50px
}

.container p {
    font-size: 20px;
    margin-bottom: 50px
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carInfoCard2,
.carInfoCard2 form {
    flex-direction: column;
    display: flex
}

.info .someInfo {
    width: 35%
}

.info .carInfo2 {
    width: 55%
}

.carInfoCard2 {
    max-height: 100%;
    border-radius: 5%;
    width: 100%
}

.carInfoCard2 form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    align-items: center;
    margin-bottom: 20px
}

.carInfoCard2 h2 {
    font-size: 22px;
    padding: 10px
}

.carInfoCard2 form p {
    font-size: 16px;
    margin-bottom: 20px
}

.carCard2{
    width: 100%;
    max-width: 10500px;
    height: 100%;
    max-height: 850px;
}

.input-group {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.input-group label {
    font-size: 18px;
    text-align: left;
    margin: 0 0 5px;
    width: 100%
}

.someInfo h2,
.someInfo img,
.someInfo p{
    margin-bottom: 20px
}

.someInfo a{
    margin-top: 20px
}

.input-addon {
    display: flex;
    align-items: center;
    width: 100%
}

.input-addon .flag-icon {
    font-size: 22px;
    margin-right: 5px
}

.input-group input[type=text] {
    width: 100%;
    box-sizing: border-box
}

input[type=text] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px
}

button#go {
    border: none;
    border-radius: 5px;
    font-size: 18px
}

.someInfo a button:hover,
button#go:hover {
    background-color: #055b4f
}

.someInfo {
    text-align: left;
    margin: 20px 0
}

.someInfo h2 {
    font-size: 24px;
    font-weight: 700
}

.someInfo img {
    width: 100%;
    height: 100%
}

.someInfo p {
    font-size: 18px;
    text-align: left
}

.someInfo a {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center
}

.someInfo a button {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color .3s
}

.banners {
    border-top: 1px solid #e3e6f3;
    background-color: #fffaf0
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 20px
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/images/LM22_17D_Touring_SF_nb_8R0A5927_3qtr_rear_2_epk_srgb_2-1280x854.png");
    min-width: 525px;
    height: 40vh;
    padding: 30px;
    border-radius: 20px;
}

#sm-banner .banner-box2 {
    background-image: url("/images/_128000012_merc-benz-ayl-010.jpeg")
}

#sm-banner h4 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

#sm-banner h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

#sm-banner span {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 15px
}

.white{
    width: 26%;
    height: 13%;
    background-color: #088178;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    border: none;
}

.white:hover{
    transition: 0.3s ease-out;
    background-color:#055b4f;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/images/99239680.jpeg");
    min-width: 29%;
    height: 30vh;
    padding: 20px;
    margin-bottom: 40px;
    margin-right: 10px;
    border-radius: 20px;
}

#banner3 .banner-box2 {
    background-image: url("/images/641a0d7f8a514c001825b3c3.png")
}

#banner3 .banner-box3 {
    background-image: url("/images/Home-Carousel-1.png")
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 24px
}

.mobile-menu-button {
    display: none;
    font-size: 20px;
    cursor: pointer
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background: #e2e2e2;
    position: absolute;
    top: 60px;
    right: 0
}

.mobile-menu.active {
    display: flex
}