

#hero,
#hero button,
.sellUs,
.info{
    display: flex
}

.sellUs,
.info {
    box-sizing: border-box
}

#hero {
    position: relative
}

.formInfoCard {
    background-color: #e2e2e2
}

#hero h4 {
    padding-bottom: 10px
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif
}

#hero4 {
    background-image: url("../images/LM22_17D_Touring_SF_nb_8R0A5927_3qtr_rear_2_epk_srgb_2-1280x854.png");
    height: 85vh;
    background-size: cover;
    background-position: center;
    padding: 0 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 150px;
}

#hero4 h4 {
    margin-top: 10px;
    width: 50%;
    font-size: 75px;
    color: #644628;
    font-weight: 800;
    font-family: "Open Sans";
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.22));
    margin-bottom: 40px;
}

#hero4 h2 {
    width: 80%;
    font-size: 23px;
    letter-spacing: 5px;
    color: rgb(24, 49, 10, 255, 0); 
    font-weight: 700;
    font-style: italic;
    font-family: "Open Sans";
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 25px;
}

#hero4 h1{
    width: 80%;
    font-size: 23px;
    letter-spacing: 5px;
    color: rgb(24, 49, 10, 255, 0); 
    font-weight: 700;
    font-style: italic;
    font-family: "Open Sans";
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 25px;
}

#hero4 p{
    width: 30%;
    font-size: 23px;
    letter-spacing: 5px;
    color: rgb(24, 49, 10, 255, 0); 
    font-weight: 700;
    font-style: italic;
    font-family: "Open Sans";
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#hero4 button {
    opacity: 0.902;
    margin-top: 15px;
    width: 218px;
    height: 55px;
    border-radius: 21px;
    background-color: #ffffff;
    font-size: 25px;
    color: #776c64;
    font-weight: 800;
    font-family: "Open Sans";
    text-align: center;
    margin-bottom: 12px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.sellUs {
    max-width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.sellUs h1 {
    font-size: 33px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sellUs p {
    font-size: 21px;
    margin-bottom: 50px;
}

.info {
    justify-content: space-between;
    padding: 0
}

.formInfoCard,
.formInfoCard form {
    display: flex;
    flex-direction: column
}

.info .contentInfo {
    width: 40%
}

.info .formInfo {
    width: 55%
}

.contentInfo h2 {
    font-size: 27px;
    font-weight: bold;
}

.contentInfo p {
    font-size: 18px;
    margin-top: 22px;
    letter-spacing: 1px;
}

.formInfoCard {
    max-height: 100%;
    border-radius: 5%;
    width: 100%
}

.formInfoCard form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    align-items: center;
    margin-bottom: 20px
}

.group-input{
    flex-direction: column;
    display: flex
}

.carCard{
    width: 100%;
    max-width: 618px;
}
.formInfoCard h2 {
    font-size: 25px;
    margin-top: 20px;
    padding: 15px
}

.formInfoCard form p {
    font-size: 17px;
    margin-bottom: 20px
}

.group-input {
    margin: 13px 0;
    align-items: center;
    width: 100%
}

.group-input label {
    font-size: 20px;
    text-align: left;
    margin: 0 0 5px;
    width: 100%
}

.addon-input {
    display: flex;
    align-items: center;
    width: 100%
}
.addon-input2 {
    display: flex;
    align-items: center;
    width: 100%
}

.addon-input .flag-icon img{
    width: 45px;
    height: 45px;
    margin-right: 10px
}


.group-input input[type=text] {
    width: 100%;
    box-sizing: border-box;
    font-size: 17px;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 5px
}

button#send-btn {
    background-color: #088178;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer
}

button#send-btn:hover {
    background-color: #055b4f
}

.anotherInfo {
    border-top: 2px solid #e2e2e2;
    text-align: left;
    margin-top: 40px;
    max-height: 70vh;
}

.anotherInfo h2 {
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.anotherInfo p {
    font-size: 20px;
    text-align: left;
    margin-bottom: 30px;
}

.anotherInfo ol {
    counter-reset: section;
    margin-bottom: 20px
}

.anotherInfo ol li {
    list-style: none;
    counter-increment: section;
    margin-bottom: 10px;
    position: relative
}

.anotherInfo ol li::before {
    content: counter(section) ".";
    font-weight: 700;
    margin-right: 5px;
    color: #088178
}

.anotherInfo ol li p {
    font-size: 16px;
    justify-content: space-around;
}

.mobile-menu-button {
    display: none;
    font-size: 20px;
    cursor: pointer
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background: #e2e2e2;
    position: absolute;
    top: 60px;
    right: 0
}

.mobile-menu.active {
    display: flex
}
