html, body {
    height: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif
}

.product-form-container {
    width: 35%; 
    margin: 10px auto;
    padding: 30px; 
    border: 1px solid #ddd;
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-form-container h2 {
    font-size: 26px; 
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.form-info {
    font-size: 16px; 
    text-align: center;
    color: #fff;
    margin-bottom: 20px; 
}

.product-form-container .form-info p {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.background-image {
    background: url('../images/13.png') center center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: auto;
    min-height: 153vh;
    z-index: -1;
}
.product-form-container{
width: 40%;
height: auto
};


.product-form-container h2 {
    text-align: center;
    margin-bottom: 26px;
    color: #ffff;
    font-size: 36px;
}

.form-group {
    width: 100%; 
    margin-bottom: 20px; 
}

.form-group label {
    flex: 1;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-bottom: 15px; 
}

.form-group select{
    width: 100%;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}


.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea,
.form-group input[type="file"] {
    width: 97%; 
    padding: 5px;
    margin-left: 10px; 
    border-radius: 8px; 
    margin-bottom: 10px; 
}


.form-group input[type="file"] {
    padding: 5px;
}

.comfort-fieldset {
    width: 100%; 
    border: none;
}

.comfort-toggle button {
    background-color: black;
    font-size: 26px; 
    color: white;
    width: 100%;
    max-width: 700px;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.comfort-list {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

#toggle-comforts:checked + .comfort-list {
    display: flex;
}

.publish-button {
    background-color: #088178;
    display: flex;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 5px;
    width:100px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    justify-content: center;
    font-size: 22px;
}

.preview-image {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-right: 5px; /* Add some spacing between images */
}

